ul{
    display:flex;
    padding: 10px;
}
li{
    list-style: none;
}
.navbar{
    padding:0;
}
ul>li>a{
    text-decoration: none;
    color:black;
    padding:10px;
}
body{
    background-color: plum;
}